
<div>
  <h2>Booking List</h2>
</div>
<div class="container">
  <ul>
    <li><% @bookings.each do |book| %></li>
    <li><%= book.id %></li>
    <li><%= book.car_id %></li>
    <li><%= book.fech_inicio %></li>
    <li><%= book.fecha_fin %></li>
    <%= link_to "Anular Book", car_booking_path(book), method: :delete  %>
    <%= link_to "contactar al propietario",  %>
    <li><% end %></li>
  </ul>
</div>
<%= link_to "volver inicio" users_path %>
