<h1> My Bookings </h1>


<p> Usted tiene agendados en las siguientes fechas:</p>
<br>
<% @bookings.each do |booking| %>
<ul>

<%# #Como agregar datos de car? %>
<%= booking.car.modelo %>
<%= booking.car.capacidad %>
<p><li><%=booking.fecha_inicio%></li><%=booking.fecha_fin%></li> </p>
</ul>
<br>
<% end %>
<%= link_to "Volver al menu principal", cars_path, class: "btn btn-primary" %>