<div class="container">
  <div>
    <h2>Booking List</h2>
  </div>
  <div class="container">
    <ul>
      <li><% @bookings.each do |book| %></li>
      <li>Card id: <%= book.id %></li>
      <li>Book id: <%= book.car_id %></li>
      <li><%= book.fecha_inicio %></li>
      <li><%= book.fecha_fin %></li>
      <%= link_to "Anular Book", booking_path(book), method: :delete  %>

      <li><% end %></li>
    </ul>
  </div>
  <%= link_to "volver inicio", cars_path %>
</div>
