
<h1> Mis Reservaciones</h1>

<p> Usted tiene reservaciones en las siguientes fechas:</p>
<br>
<% @bookings.each do |booking| %>
<ul>

<%# #Como agregar datos de car? %>
<%= booking.car.modelo %>
<%= booking.car.capacidad %>
<p><li><%=booking.fecha_inicio%></li><%=booking.fecha_fin%></li> </p>
<p> total dias arrendado : <%= (booking.fecha_fin-booking.fecha_inicio) %></p>
<p> precio del arriendo : <%= (booking.fecha_fin-booking.fecha_inicio)*booking.car.precio %></p>
    <li><%= link_to "Anular Reserva", booking_path(booking), method: :delete  %></li>


</ul>
<br>
<% end %>
<%= link_to "Volver al menu principal", cars_path, class: 'btn btn-outline-secondary' %>
