<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to cars_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.welovesolo.com/wp-content/uploads/2014/08/p16fepdsn31csuana114r1qr217ra9-details.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if current_user %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%= link_to "Ir a Home", root_path, class: "nav-link"%>
        <%# if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://cdn2.iconfinder.com/data/icons/audio-16/96/user_avatar_profile_login_button_account_member-512.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mis Reservas", bookings_path, class: "dropdown-item" %>
              <%= link_to "Mis Autos", cars_path, class: "dropdown-item" %>
              <%= link_to "Agregar un auto", new_car_path, class: "dropdown-item" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
    <% else  %>
    <%= link_to "Iniciar sesión", new_user_session_path, class:'btn btn-outline-primary' %>
    <% end %>
  </div>
</div>
