<div class="container" id="containerhome">
  <% @cars.each do |car| %>
    <% if car.disponible  %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag car.photo.key, class: "card-img-top"%>

        <div class="card-body">
          <h5 class= "card-title"><%= car.modelo %></h5>
          <p class="card-text"><i class="fa-solid fa-location-dot"></i>  <%= car.ubicacion %></p>
          <p class="card-text"><i class="fa-solid fa-users"></i>  <%= car.capacidad %></p>
          <p class="card-text"><strong>$  <%= car.precio %></strong></p>
            <div class="buttons d-flex">
            <% if user_signed_in? %>
              <%= link_to "Alquilar", new_car_booking_path(car), class: "btn btn-outline-primary"  %>
              <%= link_to "Ver detalles", car_path(car), class: "btn btn-outline-primary"  %>
            <% else %>
              <%= link_to "Alquilar", new_user_session_path, class:"btn btn-outline-primary" %>
              <%= link_to "Ver detalles", new_user_session_path, class:"btn btn-outline-primary" %>
            <% end %>
            </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
