<h1> Mis Autos </h1>

<% @cars.each do |car| %>
<ul>
<li><%= link_to car.modelo, car_path(car), class: 'btn btn-outline-secondary' %>  <%= link_to "Editar", edit_car_path(car), class: 'btn btn-outline-secondary' %>   <%= link_to "Eliminar", car_path(car), method: :delete, data: { confirm: "Estas seguro de eliminar este auto?" }, class: 'btn btn-outline-secondary'%></li>
</ul>
<% end %>
<%= link_to "Agrega tu auto", new_car_path, class: 'btn btn-outline-secondary' %>

<%#  <%= link_to "delete this list", list_path(@list), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this list?" } %>
