<div class="container">
<%= cl_image_tag @car.photo.key, height: 250, width: 400, crop: :fill%>
<h2><%= @car.modelo %></h2>
<p><%= @car.anio %></p>
<p><%= @car.precio %></p>
<p><%= @car.ubicacion %></p>
<p><%= @car.detalles %></p>
<p><%= @car.capacidad %></p>
</div>

<div class="container">
<ul class="list-group">
  <% @car.bookings.each do |booking| %>
    <li class="list-group-item"><%= booking.fecha_inicio %></li>
    <li class="list-group-item"><%= booking.fecha_fin %></li>
  <% end %>
</div>
<%= link_to 'Volver', cars_path, class: "btn btn-primary"%>
<%= link_to 'Alquilar este auto', new_car_booking_path(@car), class: "btn btn-primary"%>
